{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block head %}
{% endblock %}

{% block main %}
    <script>
        let navbar = document.getElementById('navbar');
        elements = document.getElementById('navbarSupportedContent');
        elements.remove();
    </script>

    <div class="container-sm" style="margin: auto; padding: 30px; max-width: 800px;">
        <h2 class="text-center">Change Password</h2>
        <hr class="border-primary border-3 opacity-75">
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                    {% for message in messages %}
                        {% if message == "Successfuly changed password!" %}
                            <div class="alert alert-success" role="alert">{{ message }}</div>
                        {% else %}
                            <div class="alert alert-danger" role="alert">{{ message }}</div>
                        {% endif %}
                    {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <form action="/account/password" method="post">

            <div class="form-floating mb-3">
                <input required id="oldpassword" name="oldpassword" type="password" class="form-control" placeholder="Old Password">
                <label for="oldpassword">Old Password</label>
            </div>

            <div class="form-floating mb-3">
                <input required id="newpassword" name="newpassword" type="password" class="form-control" placeholder="New Password">
                <label for="newpassword">New Password</label>
            </div>
            <div class="form-floating mb-3">
                <input required id="conpassword" name="conpassword" type="password" class="form-control" placeholder="Confirm Password">
                <label for="conpassword">Confirm Password</label>
            </div>

            <div class="d-grid gap-2" style="margin-top: 20px; margin-bottom: 30px;">
                <button type="submit" class="btn btn-outline-primary">Change Password</button>
            </div>
        </form>
    </div>

{% endblock %}