{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <!-- TICKETS - KANBAN BOARD -->
            <!-- Tickets assigned to user (group by status) -->
    <ol>
        <h2>Status 1</h2>
        
        <div id="properties">
            {% for ticket in Tickets1 %}
            <li>
                <h4>{{ ticket.title }}</h4>
                <p>{{ ticket.description }}</p>
                <p>{{ ticket.deadline }}</p>
                <p>{{ ticket.author }}</p>  
            </li>
            {% endfor %}
        </div>
    </ol>


    <!-- - Gantt charts -->
            <!-- Tickets by date started → deadline -->

    <!-- Create a new ticket -->
            <!-- ... -->

    <!-- Perspective overview - view all project's status's -->
{% endblock %}