{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block main %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div>
        <p>You currently are not assigned to any company</p>
        <p>You can wait until your superior will invite you to your company, or</p>
        
        <button onclick="location.href = '/createCompany';" id="create_company">Create a Company</button>
    </div>
{% endblock %}