{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div>
        <form action="/test/newticket" method="post">
            <input required autocomplete="off" id="title" name="title" placeholder="Title" type="text">
            <input autocomplete="off" id="description" name="description" placeholder="Description" type="text">
            
            <label for="status">Status:</label>
            <select name="status">
                <option value="Open">Open</option>
                <option value="In Progress">In Progress</option>
                <option value="Resolved">Resolved</option>
            </select>

            <label for="priority">Priority:</label>
            <select name="priority">
                <option value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>
                <option value="Urgent">Urgent</option>
            </select>

            <label for="type">Type:</label>
            <select name="type">
                <option value="Bug">Bug</option>
                <option value="Issue">Issue</option>
                <option value="Feature request">Feature request</option>
                <option value="Enhancement">Enhancement</option>
            </select>

            <input id="deadline" name="deadline" type="date">

            <input id="time_estimate" name="time_estimate" placeholder="Time estimate" type="number">

            <label for="projects">Project:</label>
            <select name="projects">
                {% for project in Projects %}
                    <option value={{ project.id }}>{{ project.title }}</option>
                {% endfor %}
            </select>


            <button type="submit">Report ticket</button>
        </form>            
    </div>
{% endblock %}