{% extends "layout.html" %}

{% block title %}
    Team Management
{% endblock %}

{% block main %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div id='inviteNewUser'>
        <form action="/inviteUser" method="post">
            <h3>Invite new team member</h3>
            <input type="email" name="email" placeholder="Email Address" required autocomplete="off">
            <select name="role">
                <option value="dev">Developer</option>
                <option value="tester">Tester</option>
                <option value="manager">Manager</option>
                <option value="admin">Admin</option>
            </select>
            <button type="submit" id="invite">Invite</button>
        </form>
    </div>

    <div id="companyMembers">
        {% for user in Users %}
            <span id={{ user.id }}>
                <h3>{{ user.first }} {{ user.last }}</h3>
                <p>{{ user.email }}</p>
                <p><i>{{ user.role }}</i></p>
                <!-- <a href="#">Edit</a> -->
                <button  id={{ user.id }}></button>
            </span>
        {% endfor %}
    </div>

    <div id="modal_container">
        <div id="modal">
            <h1>{{ user.first }} {{ user.last }}</h1>
            <h2>{{ user.role }}</h2>
            <p>{{ user.email }}</p>
            <p>{{ user.slack }}</p>

            <!-- Assigned projects -->
            {{ }}

            <!-- Assigned tickets -->
            <button id="close">Close</buttonid>
        </div>
    </div>

    <style>
        #modal_container {
            background-color: rgba(0, 0, 0, 0.3);
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            opacity: 0;
            pointer-events: none;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
        }

        #modal {
            background-color: #fff;
            border-radius: 5px;
            width: 70%;
            max-width: 90%;
        }
    </style>

    <script>
        
    </script>
{% endblock %}